/*utility*/
.floatright {
    float: right;
}
.floatleft {
    float: left;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*structure*/
header {
    position: fixed;
    width: 100%;
    top: 0;
}
header.container p {
    padding-top: 30px;
}
header .container {
    width: 100%;
    height: 120px;
    background-color: rgb(100, 100, 100);
    margin: 0;
    padding: 0;
}
    header .headerlogo {
        width: 240px;
        height: 104px;
        background-color: rgb(150, 150, 150);
        float: left;
        margin-left: 20px;
        margin-top: 10px;
    }
    header .number {
        width: 220px;
        height: 104px;
        background-color: rgb(150, 150, 150);
        float: left;
        margin-left: 20px;
        margin-top: 10px;
        text-align: center;
        font-size: medium;
        font-weight: bold;
        font-family: roboto mono, monospace;
    }
    header nav {
        float: right;
        font-size: 30px;
        margin-right: 30px;
        margin-top: 10px;
    }
    header nav li {
        display: inline;
        padding: 15px;
        background-color: rgb(50, 50, 50);
    }
    header nav li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
section.herosection {
    width: 100%;
    height: 475px;
    padding: 5px 0;
    margin-bottom: -16px;
    margin-top: 120px;
    background-color: rgb(200, 200, 200);
}
    section .heroimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300px;
    background-color: rgb(50, 50, 50);
    }
    .herocontent aside {
        width: 31%;
        height: 150px;
        display: inline;
        float: left;
        background-color: rgb(150, 150, 150);
        margin: 5px 5px 0px 15px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 10px;
        text-align: center;
    }
    .herocontent aside button {
        color: rgb(0,0,0);
    }
    section.herosection a {
        text-decoration: none;
    }
    section.herosection .button {
        width: 100px;
        height: 50px;
        background-color: rgb(50, 50, 50);
        margin: 0px 5px 0px 0px;
        text-align: center;
        display: inline-block;
    }
footer {
    width: 100%;
    height: 50px;
    background-color: rgb(150, 150, 150);
    margin: 0;
    padding: 0;
    
}
    footer ul li {
        display: inline-block;
        margin: 10px 20px 0px 10px;
        
    }
    footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    }
    footer .copyright {
        float: right;
        display: flex;
        justify-content: end;
        margin: -30px 10px -20px 0px;
    }
section.menu {
    background-color: rgb(225, 225, 225);
    width: 100%;
    height: auto;
    margin-bottom: -20px;
    margin-top: 120px;
}
    .menuimg {
        width: 70%;
        height: 30px;
        background-color: rgb(150, 150, 150);
        margin: 0 auto;
        text-align: center;
        padding: 20px 0;
        font-size: 2em;
    }
    section.menu h1 {
        font-family: 'roboto mono', monospace;
        font-weight: bolder;
        text-align: center;
    }
    section.menu h2 {
        font-family: 'roboto mono', monospace;
        font-weight: lighter;
        text-align: center;
    }
    section.menu p {
        font-family: 'roboto mono', monospace;
        font-style: italic;
        text-align: center;
        padding-bottom: 10px;
    }
section.catering {
    margin-top: 120px;
    margin-bottom: -20px;
    width: 100%;
    height: 500px;
    background-color: rgb(200, 200, 200);
}
    .cateringimg {
        width: 27%;
        height: 300px;
        background-color: rgb(125, 125, 125);
        margin-left: 10px;
        margin-top: 150px;
        float: left;
    }
    .cateringimg2 {
        width: 27%;
        height: 300px;
        background-color: rgb(125, 125, 125);
        margin-left: 40px;
        margin-top: 150px;
        float: left;
    }
    .cateringimg3 {
        width: 100%;
        height: 100px;
        background-color: rgb(125, 125, 125);
    }
    .form {
        float: right;
        margin-right: 150px;
        margin-top: 150px;
    }
    .catering h1 {
        float: right;
    }
    fieldset {
        background-color: rgb(75, 75, 75);
        border: 5px solid black;
    }
    legend {
        font-size: large;
        background-color: rgb(225, 225, 225);
        padding: 5px 10px;
    }
section.info {
    width: 100%;
    height: 400px;
    background-color: rgb(225, 225, 225);
    margin-bottom: -20px;
}
    .info h2 {
        text-align: center;
        padding-top: 20px;
    }
    .info p {
        text-align: center;
    }
    .info h3 {
        text-align: center;
    }
@media screen and (max-width: 768px) {
    
    header {
        display: inline-block;
    }
    header .headerlogo {
        width: 100px;
    }
    header .number {
        width: 100px;
        font-size: small;
    }
    header nav {
        display: inline-block;
        font-size: 1.5em;
    }
    .herocontent aside {
        display: block;
        width: 50%;
        margin: auto;
        float: none;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    section.herosection {
        height: 800px;
    }
    footer ul li {
        padding: 3px;
        margin: 3px;
    }
    .cateringimg {
        display: none;
    }
    .cateringimg2 {
        display: none;
    }
    section.catering .form {
        float: right;
        margin-top: 100px;
        margin-left: 100px;
        padding: 0;
        width: 50%;
    }
    section.info { 
    height: 520px;
    }
    section.catering {
        height: 400px;
    }
}